.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    background: #ffffff;
    padding: 18px 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.navbar a {
    text-decoration: none;
    color: #1e40af;
    font-size: 17px;
    font-weight: 600;
    transition: 0.3s;
}

.navbar a:hover {
    color: #ff9800;
}

.navbar a.active {
    color: #ff9800;
    border-bottom: 3px solid #ff9800;
    padding-bottom: 5px;
}