.package-card {
    width: 320px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 12px rgba(0,0,0,0.15);
    transition: .3s;
}

.package-card:hover{
    transform: translateY(-8px);
}

.package-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.package-content{
    padding:18px;
}

.package-content h3{
    margin-bottom:10px;
    color:#0d6efd;
}

.package-content p{
    margin:8px 0;
}

.rating{
    color:#ff9800;
    font-weight:bold;
}

.package-content h2{
    color:#198754;
    margin:15px 0;
}

.package-content button{
    width:100%;
    padding:12px;
    border:none;
    background:#0d6efd;
    color:white;
    font-size:16px;
    border-radius:8px;
    cursor:pointer;
}

.package-content button:hover{
    background:#084298;
}