.top-header{

    display:flex;
    justify-content:space-between;
    align-items:center;

    background:#0d6efd;
    color:white;

    padding:12px 40px;

    position:sticky;
    top:0;
    z-index:1000;
}

.website-name h2{

    margin:0;
    font-size:30px;
    font-weight:700;
}

.right-section{

    display:flex;
    align-items:center;
    gap:25px;
}

.logo img{

    width:45px;
    height:45px;
}

.auth-buttons{

    display:flex;
    gap:12px;
}

.auth-btn{

    text-decoration:none;
    color:white;

    border:2px solid white;

    padding:8px 18px;

    border-radius:25px;

    transition:.3s;

    font-weight:600;
}

.auth-btn:hover{

    background:white;
    color:#0d6efd;
}

.user-dropdown{

    position:relative;
}

.user-btn{

    display:flex;
    align-items:center;
    gap:10px;

    background:white;
    color:#0d6efd;

    border:none;

    padding:8px 18px;

    border-radius:30px;

    cursor:pointer;

    font-size:15px;
    font-weight:600;
}

.dropdown-content {

    position: absolute;

    top: 100%;
    right: 0;

    margin-top: 2px;

    width: 220px;

    background: white;

    border-radius: 10px;

    overflow: hidden;

    display: none;

    box-shadow: 0 5px 20px rgba(0,0,0,.2);

    z-index: 1001;
}

.user-dropdown {
    position: relative;
    padding-bottom: 2px;
}

.user-dropdown:hover .dropdown-content{

    display:block;
}

.dropdown-content a{

    display:block;

    text-decoration:none;

    color:#333;

    padding:14px 18px;

    transition:.3s;
}

.dropdown-content a:hover{

    background:#f4f4f4;
}

.dropdown-content button{

    width:100%;

    border:none;

    background:#dc3545;

    color:white;

    padding:14px;

    cursor:pointer;

    font-size:15px;
}

.dropdown-content button:hover{

    background:#bb2d3b;
}