.top-header {
  width: 100%;
  height: 75px;

  background: linear-gradient(90deg, #0d6efd, #0b5ed7);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 40px;

  color: white;
}


.website-name h2 {
  margin: 0;
  font-size: 30px;
}


/* Login/Register + Logo container */

.right-section {
  display: flex;
  align-items: center;
  gap: 20px;
}


.user-menu {
  display: flex;
  align-items: center;
  gap: 15px;
}


.auth-btn {

  text-decoration: none;

  color: white;

  font-size: 16px;

  font-weight: 600;

  padding: 8px 18px;

  border-radius: 20px;

  transition: 0.3s;
}


/* Login */

.login {
  background: white;
  color: #0d6efd;
}


/* Register */

.register {
  background: white;
  color: #0d6efd;
}


.auth-btn:hover {
  background: #ffd700;
  color: black;
}


.logo img {

  width: 55px;

  height: 55px;

  border-radius: 50%;

  background: white;

  padding: 5px;

}